.bg-img-tlou {
    background-image: url(../img/tlou4.jpg);
}

.bg-img-uncharted {
    background-image: url(../img/uncharted_video.jpg);
}

.bg-img-gof {
    background-image: url(../img/gof_video.jpg);
}

.tm-links {
    width: 50px;
    height: 50px;
}